@import 'css/breakpoint';

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: url('src/assets/images/background-gray.jpeg');
    background-size: cover; 
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    background: rgb(0, 0, 0);
    flex-shrink: 1;
}

header nav{
    display: flex;
    flex-direction: row;
}

header nav a {
    padding: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    &:hover {
    text-decoration: underline;  
    }
}

header nav a.active{
    background: rgba(255, 255, 255, 0.2);
}

ul {
    margin: 0px;
    padding-left: 32px;
}

li {
    padding-bottom: 2px 0px;
}

div.content{
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

.bttn {
    border-radius: 999px;
    background: rgb(0, 0, 0);
    padding: 12px 24px;
    color: rgb(255, 255,255);
    display: inline-block;
    align-self: flex-start;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    &.licon {
        padding: 8px;
    }
    &:hover {
        text-decoration: underline;
    }
} 

div.content_wrapp{
    height: 100%;
    width: 100%;
    overflow: auto;
}


article{
    background: rgb(255, 255, 255);
    padding: 24px;
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    gap: 16px;
}

@media (--small-only) {
}
  
@media (--medium-up) {
    div.content_wrap {
        padding: 32px;
    }
    article {
        width: 1100px;
        box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.5);    
  }
}