* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: url('../images/paper-white.jpeg');
    background-size: cover; 
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    background: rgb(0, 0, 0);
    flex-shrink: 1;
}

header nav{
    display: flex;
    flex-direction: row;
}

header nav a {
    padding: 24px;
    color: rgb(255, 255, 255);

}

header nav a.active{
    background: rgba(255, 255, 255, 0.2);
}

ul {
    margin: 0px;
    padding-left: 32px;
}

li {
    padding-bottom: 2px 0px;
}

div.content{
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

div.content_wrapp{
    padding: 32px;
    height: 100%;
    width: 100%;
    overflow: auto;
}


article{
    width: 1100px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.5);
    padding: 24px;
    flex-direction: column;
    display: flex;
    gap: 16px;
}