body[location='home'] {
    
    .intro_video img {
        width: 100%;
        
    }

   .posts {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .post_item {
            display: flex;
            flex-direction: row;   
            color: rgb(0,0,0);
            text-decoration: none;
            gap: 8px;
            .date{
                order: 1;
            }
            .name{
                order: 2;
            }
            &:hover {
                text-decoration: underline;
            }
        }
   }
}