@import 'css/breakpoint';


body[location='resume'] {
section.header {
    text-align: center;
   border-bottom: solid 1px rgb(0, 0, 0); 
   padding-bottom: 12px 0px;
   p{
    display: flex;
    gap: 8px;    

   }
}

div.item{
padding: 4px 0px;
}

div.item_heading{
display: flex;
/* flex-direction: row; */
/* justify-content: space-between; */
}

section {
    h2{
        border-bottom: solid 1px rgb(0, 0, 0); 
        padding: 8px 0px;
        font-size: 16px;
        text-transform: uppercase;
      }
    h3{
        font-size: 20px;
      }  
} 


div.details{
/* text-align: right; */
white-space: nowrap;
}

div.info{
display: flex;
flex-direction: column;
}

div.dates{
font-style: italic;
}
}

@media (--small-only) {
    body[location='resume'] {
      section.header {
        p {
          flex-direction: column;
          span.bull { display: none; }
        }
      }
      div.item_heading {
        flex-direction: column;
        padding-bottom: 8px;
      }
      div.details {
          flex-direction: row !important;
          justify-content: space-between;
          padding: 12px 0px;
        }
      }
    }
  
@media (--medium-up) {
    body[location='resume'] {
      section.header {
        p {
          flex-direction: row;
          justify-content: center;
          br {
            display: none;
          }
        }
      }
      div.item_heading {
        flex-direction: row;
        justify-content: space-between;
      }
      div.details {
          text-align: right;
        }
      }
    }
  